<select [(ngModel)]="variant">
  <option>default</option>
  <option>secondary</option>
  <option>destructive</option>
</select>

<select [(ngModel)]="size">
  @for (size of sizes; track $index) {
  <option>{{ size }}</option>
  }
</select>
<input type="checkbox" [(ngModel)]="icon" /> ICON
<input type="checkbox" [(ngModel)]="loading" /> LOADING
<div class="pt-10 mx-auto">
  <button
    appButton
    [variant]="variant()"
    [size]="size()"
    [icon]="icon()"
    [loading]="loading()"
  >
    This is button
  </button>
</div>

<!--
<button [class]="buttonClasses()">HELLO</button>



<input type="checkbox" [(ngModel)]="size" />

<router-outlet></router-outlet> -->
